label {
    width: 200px;
	text-align:right;
	float: left;
}

body {
	color: #666666;
	margin:50px 0px; padding:0px;
	text-align:center;
	font-family: Verdana,arial,sans-serif;
	font-size: 12px;
	line-height: 2em;
}

h1 a:visited {
	color: #669900;
}

h2 a:visited {
	font-size:16px;
	margin-bottom:0px;
	margin-top:10px;
	color: #CC6600;
}


#page {
	width:600px;
	margin:0px auto;
	text-align:left;
	padding:15px;

}

#header {
	
}

#content {
	 clear:both;
}

a {
	text-decoration:none
}


a:hover {
	border-bottom: dashed;
	border-width: 1px;
}

a:visited {
	color: #669900;
}

a:active {
	color: #669900;
}


br{
	clear: left;
}

hr {
	clear: left;
	color:#B2B2B2;
    background-color: #B2B2B2;
    height: 1px;
	border: 0;
	
}